body{
    background-color: black;
    color: white;
    font-family: Verdana;
}

#countLabel{
    display: block;
    text-align: center;
    font-size: 100px;
}
.btnContainer{
    text-align: center;
}

.btnContainer>button{
    color: black;
    padding: 5px 10px;
    background-color: rgb(238, 255, 0);
    border: 1px solid white;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1s;
}

.btnContainer>button:hover{
    background-color: rgb(21, 255, 0);
}